body {
  padding-bottom: 40px;
  background-color: #eee;
}

.center {
  margin:0 auto;
  float:none;
}

.form-control{
    position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
}
