extends layout.pug

block content
  .container(style='padding-top:10%;')
    .jumbotron.center.text-center
      h3 SmartRef - Keep it cool
      p Welcome to your SmartRef product portal. We bring you the joy of life with easy access to your refrigerator
      p To view your refrigerator details please login with your product username and password
